@model Call

@{
    ViewBag.Title = "Edit call";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>



        <div class="row item-center item-mg-top" style="font-size:18px">
            <div class="col-md-8">
                <h1 class="item-mg-top">Call Edit</h1>
                <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Problem" class="control-label">Note</label>
                <input asp-for="Problem" class="form-control" />
                <span asp-validation-for="Problem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CallTime" class="control-label"></label>
                <input asp-for="CallTime" class="form-control" />
                <span asp-validation-for="CallTime" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Answered" /> @Html.DisplayNameFor(model => model.Answered)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="AnswerTime" class="control-label"></label>
                <input asp-for="AnswerTime" class="form-control" />
                <span asp-validation-for="AnswerTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
    </div>
   
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
